.editModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.editModal > div {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.editModal > div > div {
  padding-bottom: 5%;
  position: absolute;
  top: 20%;
  left: 33%;
  width: 50%;
}

.editModal_2 > div > div > div {
  /* margin-bottom: 20%; */

  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5) !important;
  background-color: #1c2531 !important;
  padding: 10px !important;
  padding-bottom: 30px !important;
  /* margin-bottom: 20%; */
  border-radius: 75px !important;
}

.editModal_3 > div > div > div {
  /* margin-bottom: 20%; */

  box-shadow: 4px 4px 10px 0 rgb(32, 30, 30) !important;
  background-color: #273142 !important;
  padding: 10px !important;
  /* margin-bottom: 20%; */
  border-radius: 75px !important;
}

.editModal_2 text,
.editModal_3 text {
  color: white;
}

.editModal > div > div > div {
  /* margin-bottom: 20%; */
  color: white;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(42, 183, 202, 1);
  padding: 10px;
  /* margin-bottom: 20%; */
  border-radius: 100px;
}

.editModal > div > div > div > img:first-child {
  width: 7vmin;
  height: 7vmin;
  object-fit: contain;
  position: absolute;
  right: 7vmin;
  background-color: transparent;
  top: 5vmin;
  z-index: 1;
  cursor: pointer;
}
.editModal_2 {
  z-index: 100;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.edit_item_modal {
  width: 100%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  align-items: start;
  padding: 1vmin 2vmin 6vmin 2vmin;
}
.edit_item_modal .item_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-top: 2.5vmin;
}
.edit_item_modal .item_input > text:first-child {
  font-family: CircularStd;
  font-size: 1.8vmin;
  line-height: 2;
  letter-spacing: normal;
  color: #1f2835;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.edit_item_modal .item_input > div:nth-child(2) input {
  border: solid 0.5px rgba(116, 116, 116, 0.5);
  border-radius: 10px;
  background-color: #222c3c;
  padding-left: 2.5vmin;
  font-family: CircularStd;
  font-size: 1.8vmin;
  color: rgba(255, 255, 255, 1);
  cursor: text;
  margin-top: 0.5vmin;
}
.edit_item_modal .item_input > div:nth-child(2) > input:focus {
  outline-style: solid;
  outline-color: #f9f9f9;
  outline-width: 0px;
  opacity: 1;
}
.edit_item_modal .item_name_input {
  border-radius: 10px;
  width: 33%;
  height: 4.5vh;
}

.edit_item_modal .item_description_input {
  height: 9.5vh;
  width: 80%;
  border-radius: 20px;
}
.edit_item_modal .item_price_input {
  border-radius: 10px;
  width: 5%;
  height: 4.5vh;
}
.edit_item_modal > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.edit_item_modal > div:nth-child(3) > text:first-child {
  font-family: CircularStd;
  font-size: 1.8vmin;
  line-height: 2;
  color: black;
}
.edit_item_modal > div:nth-child(2) > div > text {
  font-family: CircularStd;
  font-size: 1.7vmin;
  line-height: 2.25;
  color: black;
  margin-left: 6vmin;
}
.edit_item_modal > div:nth-child(2) > div > div > img {
  width: 7vmin;
  height: 8vmin;
  margin-right: 3vmin;
  margin-left: 3vmin;
}
.edit_item_modal > div:nth-child(2) > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 33%;
  margin-bottom: 2vmin;
}

.edit_item_modal > div:nth-child(3) {
  margin-top: 1vmin;
}
.edit_item_modal > div:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 2vmin;
}
.edit_item_modal > div:nth-child(4) > text:first-child {
  margin-bottom: 1.4vmin;
  font-family: CircularStd;
  font-size: 1.8vmin;
  line-height: 2.25;
  color: black;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.edit_item_modal > .update {
  width: 15%;
  height: 5vh;
  border-radius: 21px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffd600;
  border: 0;
  cursor: pointer;
  align-self: center;
  margin-top: 3vmin;
  font-family: CircularStd;
  font-size: 1.6vmin;
  text-align: center;
  color: #1c2531;
}
.item_input > div:nth-child(2) > img:first-child {
  width: 4vmin;
  height: 5vmin;
}
.item_input > div:nth-child(2) {
  align-items: center;
  display: flex;
  flex-direction: row;
}
